<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Window</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" 
    />
    <style>
        body{background-color: #ced1d4;}
        .card{background-color: #7f7f81;}
    </style>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center m-3">
        <h3 class="text-center m-4"><u> <i class="bi bi-pen-fill"></i>  Edit chat of id: <%=chat._id%></u></h3>
    </div>
    <hr class="border-light mb-4"/>
    <div class="card  m-5 p-3 shadow-lg bg-body-dark rounded-3">
        <h5 >This chat was sent from <%=chat.from%> to <%=chat.to%> </h5>
        <br />
        <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" rows="6" cols="40" class="form-control bg-dark text-light my-3 p-3">
            <%=chat.msg%>
        </textarea>
        <br /><br />
        <button class="btn btn-outline-dark">Edit</button>
    </form>
    </div>

    <br /><br>
    <hr class="border-light mb-4"/>
    <hr class="border-light mb-4"/>
</body>
</html>


